img{
    height: 300px;
    object-fit: cover;
}
h5 {
 font-style: italic;
 text-shadow: 1px 1px 3px black;
 font-size: 20px;
}

main {
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgb(2, 2, 26) 7%, rgb(63, 162, 201) 31%);
}

p {
 font-style: unset;
 text-shadow: 1px 1px 2px rgb(248, 248, 248);
 font-size: 20px; 
 color: black;
}